*{
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Roboto';
    /* transition: 1000ms; */
    /* background-color: black; */
}

#content {
    /* background: #0D0C0E; */
    background: black;
    color: blanchedalmond;
   
}
#imageD {
    display: flex;
    /* align-items: center;*/
    justify-content: center; 
    width: 100%;
    margin: auto;
    height: 500px;
    padding: 10px;
}
#imageD div{
    position: absolute;
    /* background-color: orange; */
    /* height: 100px;
    width: 150px; */
    border-radius: 100px;
    /* transform: translateY(133px); */
    z-index: 0;
    
}

#ball1 {
    background-color: orange;
    height: 150px;
    width: 200px;
    z-index: 1;
    transform: translate(0px, 83px);
    transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

#ball2 {
    background-color:orange;
    height: 100px;
    width: 150px;
    z-index: 1;
    transform: translate(100px, 133px);
    transition: 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

#imageD:hover #ball1 {
    border-radius: 300px;
    transform: translate(100px, 83px);
    cursor: pointer;
}

#imageD:hover #ball2 {
    border-radius: 300px;
    transform: translate(-100px, 133px);
    cursor: pointer;
}

#imageD img{
    /* margin: auto; */
    height: auto;
    width: 350px;
    position: absolute;
    z-index: 1;
    
}
span {
    color: orange;
    font-weight: 700;
}

#features {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: yellow; */
}

.titleHead {
    /* overflow-x: hidden; */
    /* background: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 18vw;
    position:static;
    margin: 10px auto;
}

.titleHead h3 {
    /* background: rgb(0, 0, 0); */
    font-family: 'Roboto';
    font-size: 4vw;
    font-weight: 800;
    position: absolute;
    margin: 10px auto;
    /* position: absolute; */
    z-index: 1;
}

.backgroundTitle {
    z-index: 0;
    position: absolute;
}

.backgroundTitle h2{
    font-family: 'Roboto';
    font-size: 15vw;
    font-weight: 800;
    color: transparent;
    -webkit-text-stroke: 1px rgb(70, 70, 70);
    /* text-shadow: 0px 0px 1px black; */
    stroke-width: 1px;
    
}

#cardContainer {
    overflow-y: hidden;
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: black; */
}

#speakersBtn {
    width: 80%;
    height: 50px;
    background-color: transparent;
    border-radius: 5px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.22);
    transition: 300ms;
}


#speakersBtn:hover {
    background-color: white;
    color: black;
}

.section{
    min-height: 100vh;
    /* background-color: orangered; */
}

.event {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgb(255,165,0);
background: linear-gradient(0deg, black 0%, rgba(255, 166, 0, 0.3) 30%, black 100%);
    height: 100vh;
}

.event button{
    margin: 0 auto;
    min-width: 330px;
}

.event button a{
    color: white;
    font-weight: 700;
    text-decoration: none;
}


@media only screen and (max-width: 1210px) {
    #cardContainer {
        min-width: 80%;
        grid-template-columns: auto;
        margin: auto;
        /* background-color: rgb(8, 48, 61); */
    }
    .hCard {
        width: 100%;
        margin-top: 10px;
    }
  }