@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,900;1,700&display=swap');
/* @import url('http://fonts.cdnfonts.com/css/ocr-a-extended'); */

@font-face {
    font-family: 'OCR A Extended';
    font-style: normal;
    font-weight: 400;
    src: local('OCR A Extended'), url('../OCRAEXT_2.woff') format('woff');
}

.App {
    /* overflow-x: hidden; */
}

#cover {
    display: flex;
    z-index: 1;
    background: black; 
    overflow: hidden;
    margin: auto;
}

#coverItem {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;
    min-height: 100%;
    margin: auto;
    color: white;
    font-size: 5rem;
    box-shadow: inset 1px 1px 100px white; 
}
.coverSpecial{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: auto;
    overflow-y: hidden;
    width: 60vw;
    height: 100vh;
    position:absolute;
    /* transform: rotate(-15deg); */
}

.coverSpecial h2 {
    
    font-family: 'Roboto';
    font-size: 4vw;
    font-weight: 800;
    color: rgb(255, 255, 255);
    /* -webkit-text-stroke: 1px rgb(70, 70, 70); */
    /* text-shadow: 0px 0px 1px black; */
    stroke-width: 5px;
    text-align: center;
    z-index: 0;
    position: absolute;
}


/* .coverSpecial div{
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    margin: auto;
    font-size: 50px;

    background-color: rgba(255, 166, 0, 0.802);
  
} */

.coverSpecial div  h2{
    margin: auto;
   font-size: 15vw;
    /* width: 300px; */
}

.animate {
    display: none;
}
.coverContainer {
    
    display: flex;
    flex-wrap: wrap;
    overflow-y: hidden;
    height: 100vh;
    width: 100%;
    padding: 0 0;
    margin: auto;
    
}
#tsparticles {
    height: 100%;
    width: 100%;
    background-position:center;
    /* background-attachment: fixed; */
    position: absolute;
    overflow-y: hidden;
}

.coverHead {
    padding: 0 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* background: rgba(255, 166, 0, 0.131); */
    width: 100vw;
    height:  100%;
    transform: translateY(0px);
    overflow: hidden;
    will-change: transform;
    margin: auto;
    /* background: sandybrown; */
    /* transition: 0.5ms; */
    /* position:absolute; */
}

#title {
    height: fit-content;
    /* width: 350px; */
    /* margin: 50px auto; */
    margin: auto;
    text-align: center;
    /* background-image: url('../img/logo.png'); */
    background-size: 400px;
    background-position: center;
    background-repeat: no-repeat;
}

#title h1 {
    font-family: 'OCR A Extended', sans-serif;
    font-size: 5vw;
                                                
}

#title h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 3.5vw;
    color: rgba(255, 255, 255, 0.775);
                                                
}

#title span{
    font-family: 'OCR A Extended', sans-serif;
    color: orange;
    font-weight: 800;                                          
}

.titleBox {
    
    width: 350px;
    margin: auto;
    position: relative;

}

.titleBox h1 {
    text-align: right;
    color: rgb(255, 255, 255);
    /* background: chartreuse; */
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    /* position: relative; */
}

#mainInfo {
    /* background-color: rgba(0, 0, 0, 0.2); */
    /* position: relative; */
    z-index: 1;
    height: min-content;
    border-radius: 5px;
    color: white;
    width: 90%;
    /* align-self:flex-end; */
    margin: 100px auto;
    /* justify-self: center; */
    /* margin: 0 50px; */
    /* justify-content: right; */
    /* margin: 30px auto; */
    /* margin-left: 12%; */

}


.infoBox {
    display: flex;
    justify-content: space-around;
    /* background-color: yellow; */
    padding: 10px;
    
}

.features {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: orange; */
    margin: 10px;
}

.features p{
    margin: 0 5px;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: rgb(255, 255, 255);
    margin: auto;
    /* transform: translateY(200%); */
    /* position:bottom; */
}

.Button {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border-radius: 5px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.22);
    transition: 300ms;
}

.Button:hover {
    background-color: #f5f5f5;
    color: black;
}
