@font-face {
    font-family: 'OCR A Extended';
    font-style: normal;
    font-weight: 400;
    src: local('OCR A Extended'), url('../OCRAEXT_2.woff') format('woff');
}

#footer {
    background-color: black;
    color: white;
    font-family: 'OCR A Extended', sans-serif;
    overflow-y: hidden;
}

.link {
    text-decoration: none;
}

a , a:hover, a:focus, a:active  {
    text-decoration: none;
}

a p{
    text-decoration: none;
    color: orange;

}

#footer i{
    margin: 0 auto;
    padding: 0;
    transform: translateY(3px);
    color: red;
    font-size:larger;
}

#footer p{
    margin: auto;
    font-family: 'OCR A Extended', sans-serif;
    padding: 10px 0;
}
.icons {
    margin: auto;
    display: flex;
    align-items: center;
    max-width: 280px;
    /* background-color: red; */
    justify-content:space-evenly;
}

.icons p{
    width: fit-content;
    margin: auto 0;
    color: white;
    font-weight: 500;
    font-size: 1rem;
}

.icons img{
    margin: auto 3px;
    max-height: 70px;
    width: auto;
}

#ufpb{
    filter:invert();
}

#if{
    filter: invert() brightness(100000);
}

.sedec {
    margin: auto;
    width: auto;
    height: 60px;
}