body::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
    
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(6, 6, 9);    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
    border: 1px dotted orange;  /* creates padding around scroll thumb */
    /* height: 2px;    */
  }