.hCard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 250px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    /* height: 117px; */
    padding: 5px;
    /* background-color: black; */
    margin: 2px;
    transition: 200ms;
    overflow-y: hidden;
}

.imgCard {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #ffffff3a;
    width: 35%;
    overflow-y: hidden;
    
}

.hCard:hover {
    background-color: rgba(255, 166, 0, 0.3);
    cursor: pointer;
}

.textCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: brown; */
    height: 100%;
    width: 65%;
    overflow-y: hidden;
    /* background-color: orangered; */
    /* width: 80%; */
}

.imgCard i{
    color: white;
    font-size: 8rem;
    margin: auto;
}