#speakerContent {
    display: flex;
    overflow: hidden;
}

.speakerItem {
    display: flex;

    height: 300px;
    width: 100px;
    background-color: black;
    transition: 400ms;
    flex-grow: 1;
    overflow: hidden;
}

.speaker {
    overflow: hidden;
    background-color: chartreuse;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    transition: 200ms;
}

.speakerInfo {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    will-change: opacity;
    opacity: 0;
    /* transform: translateY(500px); */
}

.speakerInfo h4 {
    color: white;
    overflow: hidden;
}

.speakerInfo h5 {
    /* white-space: nowrap; */
    color: orange;
    overflow: hidden;
}

.speakerInfo p {
    color: white;
    overflow: hidden;
}

.speaker:hover .speakerInfo  {
    will-change: transform;
    /* transform: translateY(0); */
    /* cursor: pointer; */
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    opacity: 1;
}

.speakerItem:hover{
    /* flex-grow: 2; */
    width: 400px;
    position: relative;
}

.speakerContact {
    width: 50%;
    display: flex;
    margin:  0 auto;
    align-items: center;
    justify-content: space-around;
}
.speakerContact i {
    color: white;
    font-size: xx-large;
}

@media only screen and (max-width: 600px) {
    #speakerContent {
        flex-wrap: wrap;
    }
    .speakerItem {
        width: 30%;
        margin: 10px;
    }
    .speakerItem:hover{
        /* flex-grow: 2; */
        width: 30%;
        flex-grow: 3;
        position: relative;
    }
  }